:root {
  --white: #fff;
  --deepmaroon: #282025;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Dazzed-Medium;
  background-color: var(--deepmaroon);
  color: #fff;
  min-height: -webkit-fill-available;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

@font-face {
  font-family: Dazzed-Medium;
  src: url('./fonts/Dazzed-Medium.woff2');
}

@font-face {
  font-family: Tobias-Light;
  src: url('./fonts/Tobias-Light.woff2');
}
