.layout {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
 }

 .layout::before {
  animation: Grain 6s steps(10) infinite;
  background-image: url(../images/noise.png);
  background-size: 180px 180px;
  background-repeat: repeat;
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.3;
  position: fixed;
  top: -100%;
  width: 300%;
}


.container {
  padding: 6rem;
  height: 100%;
  display: flex;
  justify-content: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.title {
  margin: 0;
  margin-bottom: 1.5rem;
  line-height: 1;
  font-size: 5rem;
  font-family: Tobias-Light;
  user-select: none;
  animation: TitleFadeIn 1.5s 0.5s cubic-bezier(0.23, 1.0, 0.32, 1.0) both;
  letter-spacing: -3px;
}

.title,
.description {
  text-align: left;
}

.description {
  line-height: 1.5;
  font-size: 1.125rem;
  user-select: none;
  animation: DescriptionFadeIn 1.5s 1.5s cubic-bezier(0.23, 1.0, 0.32, 1.0) both;
}


.description a {
  position: relative;
}

.description a::before {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--white);
  position: absolute;
  bottom: -0.25rem;
  transition: 100ms;
  animation: Underline 1.5s cubic-bezier(0.075, 0.82, 0.165, 1.0) 5s both;
}

.iconContainer {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 24px;
  position: fixed;
  bottom: 6rem;
  left: 6rem;
}


.iconContainer span {
  /* margin: 0 0.75rem; */
  animation: IconsFadeIn 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.iconContainer span:hover::before {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--white);
  position: absolute;
  bottom: -0.25rem;
  transition: 100ms;
  animation: Underline 1s cubic-bezier(0.075, 0.82, 0.165, 1.0) both;
}

.iconContainer span:first-child {
  /* margin-left: 0; */
  animation-delay: 3s;
}

.iconContainer span:nth-child(2) {
  animation-delay: 3.25s;
}

.iconContainer span:nth-child(3) {
  animation-delay: 3.5s;
}

.iconContainer span:last-child {
  /* margin-right: 0; */
  animation-delay: 3.75s;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 3rem;
    margin-bottom: 0.75rem;
  }

  .description {
    font-size: 1rem;
  }

  .container {
    padding: 2.5rem;
  }

  .iconContainer {
    bottom: 2.5rem;
    left: 2.5rem;
  }
}

/* Animations */

@keyframes TitleFadeIn {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes DescriptionFadeIn {
  0% {
    transform: translateY(1.25rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes IconsFadeIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes Underline {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes Grain {

  0%,
  100% {
      transform: translate(0, 0)
  }

  10% {
      transform: translate(-5%, -10%)
  }

  20% {
      transform: translate(-15%, 5%)
  }

  30% {
      transform: translate(7%, -25%)
  }

  40% {
      transform: translate(-5%, 25%)
  }

  50% {
      transform: translate(-15%, 10%)
  }

  60% {
      transform: translate(15%, 0)
  }

  70% {
      transform: translate(0, 15%)
  }

  80% {
      transform: translate(3%, 35%)
  }

  90% {
      transform: translate(-10%, 10%)
  }
}

