.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
 }

 .layout::before {
  animation: Grain 6s steps(10) infinite;
  background-image: url(../images/noise.png);
  background-size: 180px 180px;
  background-repeat: repeat;
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.4;
  position: fixed;
  top: -100%;
  width: 300%;
}

.container {
  width: 960px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo{
  width: 100%;
  height: 119px;
}

.image {
  -webkit-clip-path: url(#myClip);
  clip-path: url(#myClip);
  width: 960px;
}

.details {
  margin-top: 48px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.description {
  line-height: 1.5;
  font-size: 1rem;
  user-select: none;
  animation: DescriptionFadeIn 1.5s 1.5s cubic-bezier(0.23, 1.0, 0.32, 1.0) both;
  text-transform: uppercase;
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 16px;
}


.description a {
  position: relative;
}

.iconContainer {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 24px;
}

.divider {
  opacity: 30%;
}

.occupation {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 16px;
}

.employer {
  font-style: italic;
  transition: 0.2s all;
}

.employer:hover {
  opacity: 100%;;
}

.name, .role, .employer {
  letter-spacing: 2px;
}

.role, .arrow, .employer {
  opacity: 60%;
}



.iconContainer span {
  /* margin: 0 0.75rem; */
  animation: IconsFadeIn 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.iconContainer span:hover::before {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--white);
  position: absolute;
  bottom: -0.25rem;
  transition: 100ms;
  animation: Underline 1s cubic-bezier(0.075, 0.82, 0.165, 1.0) both;
}

.iconContainer span:first-child {
  /* margin-left: 0; */
  animation-delay: 3s;
}

.iconContainer span:nth-child(2) {
  animation-delay: 3.25s;
}

.iconContainer span:nth-child(3) {
  animation-delay: 3.5s;
}

.iconContainer span:last-child {
  /* margin-right: 0; */
  animation-delay: 3.75s;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .layout {
    padding: 1.5rem;
    overflow-x: hidden;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .logo {
    width: calc(100vw/1.618);
    flex: 1;
  }

  .details {
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    margin-top: 0;
    align-items: flex-start;
  }

  .description {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 8px;
  }

  .title {
    min-width: 100%;
  }

  .divider {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .occupation {
    grid-gap: 8px;
    font-size: 13px;
  }
}

/* Animations */

@keyframes TitleFadeIn {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes DescriptionFadeIn {
  0% {
    transform: translateY(1.25rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes IconsFadeIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes Underline {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes Grain {

  0%,
  100% {
      transform: translate(0, 0)
  }

  10% {
      transform: translate(-5%, -10%)
  }

  20% {
      transform: translate(-15%, 5%)
  }

  30% {
      transform: translate(7%, -25%)
  }

  40% {
      transform: translate(-5%, 25%)
  }

  50% {
      transform: translate(-15%, 10%)
  }

  60% {
      transform: translate(15%, 0)
  }

  70% {
      transform: translate(0, 15%)
  }

  80% {
      transform: translate(3%, 35%)
  }

  90% {
      transform: translate(-10%, 10%)
  }
}

